body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.wrap {
  height: 100vh;
}

.navbar {
  height: 10vh;
  display: flex;
  background-color: #9030CE;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;   
}

.buttonBottom {
  position: absolute;
  bottom: 0;
}

.logo-main {
  height: 30vw;
  width: 40vw;
}

.input {
  border-width: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0, 0.2);
}

.input:focus {
  outline-width: 0;
}

.text-center {
  text-align: center;
}

.input.main {
  width: 70vw;
}

.quarter {
  height: 15vh;
  border: 0;
  border-top: 1px solid black;
}

.quarter:active {
  background-color: rgba(0,0,0,.4);
}

.sm-logo {
  height: 10vh;
}

.full-btn {
  width: 100%;
  margin-bottom: 6px;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.025);
}

.full-btn:active {
  box-shadow: 0 0 0 0 white;
}

.fill-btn {
  color: white;
  box-sizing: border-box;
  background-color: #9030CE;
  border-radius: 0;
  border: 2px solid #9030CE;
  font-weight: 500;
  padding: 4px;
}

.fill-btn:active {
  border-color: rgb(126, 56, 173);
  background-color: rgb(126, 56, 173);
  color: rgb(223, 223, 223)
}

.empty-btn {
  color: #9030CE;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0;
  border: 2px solid #9030CE;
  font-weight: 500;
  padding: 4px;
}

.empty-btn:active {
  border-color: rgb(126, 56, 173);
  background-color: rgb(223, 223, 223);
  color: rgb(126, 56, 173);
}

.bigger {
  font-size: 16px;
}