body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  overflow-y: auto;
  overflow-x: hidden;
}

.eighty {
  width: 80vw;
}

.ninety {
  width: 90vw;
}

.wrap {
  height: 100vh;
  box-sizing: border-box;
}

.navbar-wrapper {
  width: 100vw;
  background-color: #9030CE;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  z-index: 10;
}

.withnav {
  padding-top: 75px;
}

.navbar {
  position: relative;
  left: -5vw;
  height: 60px;
  width: 90vw;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  flex-direction: row;
  justify-content: space-between;
}

.navbar > .measures {
  height: 36px;
  border-radius: 0;
  color: #9030CE;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  font-weight: 500;
  padding: 6px;
  font-size: 15px;
}

.navbar.f-c {
  justify-content: space-around;
}

.navbar > .text {
  color: white;
  font-size: 18px;
  flex: 1;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonBottom {
  position: absolute;
  bottom: 0;
}

.logo-main {
  height: 40vw;
  width: 54vw;
}

.logo-main-sm {
  height: 30vw;
  width: 40vw;
}

.input {
  border-width: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0, 0.2);
  font-size: 16px;
}

.input:focus {
  outline-width: 0;
  border-color: #9030CE;
}

.text-center {
  text-align: center;
}

.input.main {
  width: 70vw;
}

.quarter-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 15px;
}

.quarter {
  flex: 1;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: #9030CE;
  background-color: white;
  border-radius: 0;
  border: 3px solid #9030CE;
  font-weight: 500;
  font-size: 20px;
  transition: background-color .3s;
  transform: scaleY(.9)
}

.quarter:active {
  background-color: rgb(168, 96, 216);
}

.fill-btn.custom {
  margin-bottom: 25px;
}

.full-btn {
  width: 100%;
  margin-bottom: 10px;
}

.fill-btn {
  color: white;
  box-sizing: border-box;
  background-color: #9030CE;
  border-radius: 0;
  border: 2px solid #9030CE;
  font-weight: 500;
  padding: 6px;
  font-size: 16px;
}

.fill-btn:active {
  border-color: rgb(126, 56, 173);
  background-color: rgb(126, 56, 173);
  color: rgb(223, 223, 223)
}

.empty-btn {
  color: #9030CE;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0;
  border: 2px solid #9030CE;
  font-weight: 500;
  padding: 6px;
  font-size: 16px;
}

.empty-btn:active {
  border-color: rgb(126, 56, 173);
  background-color: rgb(223, 223, 223);
  color: rgb(126, 56, 173);
}

.bigger {
  font-size: 17px;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.bigger-j {
  font-size: 17px;
  margin: 0;
  text-align: left;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.workout-input {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  min-height: 20px;
  font-size: 16px;
}

span.workout {
  flex: 1;
}

.input.workout {
  width: 50px;
  font-size: 16px;
}

.done {
  bottom: 0;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,.3);
  width: 100vw;
  height: 40px;
  min-height: 40px;
  color: #9030CE;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
}

.workouts {
  flex: 1;
  font-size: 16px;
  overflow-y: auto;
}

.height {
  width: 80vw;
}

.height > p {
  font-size: 18px;
  margin-bottom: 2px;
}

.height > div {
  display: flex;
}

.height > div > div {
  flex: 1;
  display: flex;
}

.height > div > div > span {
  flex: 1;
}

.height > div > div > input {
  flex: 1;
  width: 40px;
}
.height > div > div > input.one {
  margin-right: 20px;
}

.weight {
  width: 80vw;
}

.weight > p {
  font-size: 18px;
  margin-bottom: -2px;
}

.weight > input {
  width: 100%;
}

.back {
  color: white;
  font-size: 24px;
}

.quarter-wrap.day {
  padding-bottom: 10vh;
}

.subtitle.day {
  font-weight: 500;
}

.exercise {
  width: 80vw;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 4px;
  max-width: 0%;
  transition: max-width .3s;
}

.bar.big {
  transition: max-width 1s;
  max-width: 100%;
}

.time {
  flex: 1;
  font-size: 21px;
  text-align: center;
  transition: flex .3s;
}

.time.small {
  transition: flex 1s;
  flex: 0;
  padding-right: 8px;
}

.bar > div {
  width: 100%;
  margin: 0;
}

div.blue {
  border: 0px solid rgb(58, 58, 255);
  border-top-width: 4px;
  z-index: 1;
}

div.dark {
  border: 0px solid #333;
  border-top-width: 4px;
  margin-top: -4px;
}

.x1 {
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0;
  transition: width .3s, opacity .3s;
  opacity: 1;
  z-index: 1;
}

.x0 {
  width: 0;
  opacity: 0;
  font-size: 1px;
  z-index: 0;
}

.xr {
  color: #666;
}

.next-w {
  color: #9030CE;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0;
  border: 2px solid #9030CE;
  font-weight: 500;
  padding: 6px;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.halt {
  color: rgb(164, 164, 164);
  border: 2px solid rgb(164, 164, 164);
}

.next-w > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workout-r {
  width: 96%;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px 0px rgba(0,0,0, 0.1);
  min-height: 45px;
}

.workout-r > p {
  margin-top: 0;
}

.workout-r.red {
  border-top: 4px solid #ff1a1a;
}

.workout-r.green {
  border-top: 4px solid #30de3b;
}

.Roster-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.Roster-login > form {
  padding: 50px;
  background-color: #9030CE;
  color: white;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}

.Roster-login > form > p {
  margin: 0;
  font-size: 28px;
}

.Roster-login > form > .input {
  border-width: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid white;
  font-size: 24px;
  display: block;
  margin-top: 24px;
}

form > .input:focus {
  outline-width: 0;
  border-color: white;
}

.submit {
  width: 200px;
  margin-top: 24px;
  border-color: white;
  font-size: 22px;
  padding: 4px;
}

.navbar-roster {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 4vw;
  color: white;
  font-size: 24px;
}

.navbar-roster > i {
  position: relative;
  font-size: 30px;
  top: -1px;
}

.navbar-roster > img {
  position: absolute;
  right: 1vw;
  top: 2px;
  height: 45px;
  border-radius: 15px;
}

.roster {
  padding-top: 60px;
  
}

.div {
  width: 90%;
  margin: 0 auto;
}

.div > p {
  font-weight: bold;
  font-size: 40px;
  color: #333;
  margin: 0;
}

.students {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.students > div {
  width: 50%;
  font-size: 20px;
  padding-right: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.students > div > p {
  margin: 0;
}

.students > div > p > p {
  margin: 0;
  margin-bottom: -10px;
}

.roster-measurements {
  font-size: 17px;
  color: #999;
}

.usrname {
  font-size: 14px;
  color: #999;
}

@media (max-width: 800px) {
  .students > div {
    width: 100%;
  }
}

.Roster-student {
  padding-top: 60px;
}

.div-s {
  width: 90%;
  margin: 0 auto;
}

.div-s > p.info {
  font-weight: bold;
  font-size: 40px;
  color: #333;
  margin: 0;
}

.big-usrname {
  font-size: 26px;
  font-weight: 100;
  color: #999;
}

.roster-measurements-s {
  font-size: 24px;
  font-weight: 100;
  color: #333;
  margin: 0;
}

.roster-measurements-s > span {
  color: #777;
}

.r-workouts {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.r-workouts > div {
  flex: 1;
  min-width: 400px;
  max-width: 700px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 6px 0px rgba(0,0,0, 0.2);
}

.r-workouts > div > span {
  color: #555;
  float: right;
}

.div-s > .text {
  font-size: 20px;
}

.delete-s {
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 7px;
  max-width: 600px;
  text-align: center;
  background-color: #ef4b4b;
  box-shadow: 0 0 6px 0px rgba(0,0,0, 0.2);
  margin-bottom: 50px;
}

.delete-s > .sure {
  float: right;
  position: relative;
  background-color: white;
  color: #ef4b4b;
  top: -7px;
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  height: 42px;
  right: -8px;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  transition: max-width 1.2s cubic-bezier(.43,.82,.33,.99), opacity .6s linear .2s;
}

.sure.hidden {
  transition: max-width 1.2s cubic-bezier(.43,.82,.33,.99), opacity .3s;
  max-width: 0;
  opacity: 0;
}

.delete-s > .sure > button.left {
  position: relative;
  font-size: 18px;
  padding: 3px 8px;
  margin-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #ef4b4b;
  border-right-width: 0px;
  background-color: white;
  color: #ef4b4b;
}

.delete-s > .sure > button.right {
  position: relative;
  font-size: 18px;
  padding: 3px 8px;
  border: 2px solid #ef4b4b;
  background-color: white;
  color: #ef4b4b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.delete-s > .sure > button.right:focus {
  outline-width: 0;
}
.delete-s > .sure > button.left:focus {
  outline-width: 0;
}