body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.wrap {
  height: 100vh;
}

.navbar {
  height: 10vh;
  display: flex;
  background-color: #9030CE;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;   
}

.buttonBottom {
  position: absolute;
  bottom: 0;
}

.logo-main {
  height: 30vw;
  width: 40vw;
}

.input {
  border-width: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0, 0.2)
}

.input:focus {
  outline-width: 0;
}

.text-center {
  text-align: center;
}

.input.main {
  width: 70vw;
}

.full {
  width: 100%;
}

.quarter {
  height: 15vh;
  border: 0;
  border-top: 1px solid black;
}

.quarter:active {
  background-color: rgba(0,0,0,.4);
}

.sm-logo {
  height: 10vh;
}

.fill-btn {
  color: white;
  box-sizing: border-box;
  background-color: #9030CE;
  border-radius: 0;
  border: 3px solid #9030CE;
}

.empty-btn {
  color: #9030CE;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0;
  border: 3px solid #9030CE;
}